*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    position: relative;
    list-style-type: none;
    display: inline-block;


}

.clearfix:after{
    color: "";
    clear: both;
    display: table;
}

body{
    background-color: lightgrey;
    font-family: "AvenirNext","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.container {
    width: 80%;
    margin: 0 auto;
}

#headerTop{
    position: fixed;
    top:0;
    width: 100%;
    background-color: #F5F8FA;
    height: 75px;
    border-bottom: 1px solid #CBD6E1;
    z-index: 20;

}

#headerTopLeft{
    height: 75px;
    float: left;
    width: 50%;
}

#headerTopRight{
    height: 75px;
    float: right;
    width: 50%;
}

.fa-search{
    color: #00A4BD;
}

.centerItemMenu{
    display: inline;
    height: 75px;
    line-height: 75px;
}
.right{
    margin-right: 10%;
    float: right;
}
.elementInsideRight{
    display: inline-block;
    margin: 0 10px;
}

ul.mainItemMenu > li{
    margin: 0 5px;
}

ul .dropMenuItem{
    line-height: normal;

}
li.dropMenuItem ul{
    display: none;
    position: absolute;
    left: 15px;
    background-color: white;
    border: 1px solid black;

}


li.dropMenuItem:hover ul{
    display: block;


}

.fa-globe{
    margin: 2px 3px;
    font-size: 20px;
}

.fa-sort-down{
    margin: 0 3px;
        color: #7C97B6;
}

#headerBottom{
    margin-top: 75px;
    height: 75px;
    background-color: white;
}

#headerBottomLeft{
    width: 25%;
    float: left;
}

#headerBottomLeft img{
    vertical-align: middle;
}

#headerBottomRight{
    width: 75%;
    float: right;
}

#jumbo {
    background: rgb(194,39,39);
background: linear-gradient(180deg, rgba(194,39,39,0.4164040616246498) 0%, rgba(255,244,240,1) 48%, rgba(194,39,39,0.5452556022408963) 100%);
    padding: 50px 0;
}
#jumboContent{

    width: 40%;
    height: 500px;
    line-height: 500px;
}
#jumboText{
 line-height: normal;
 color: #33475B;

}

#jumboText h1{
    font-size: 56px;


}
#jumboText h1 + p{
    margin: 25px 0;
    padding-right: 15px;
}

#jumboText button{
    margin-bottom:25px;
}

#jumboTexMini{
    font-size: 66%;
    width: 40%;
    margin-top: 0;
}


button{
    font-weight: 300;
    padding: 10px 18px;
    border: 1px solid #FF7959;
    border-radius: 3px;
    cursor: pointer;
}
.orange{
    background-color: #ff7a59;
    color:white;
}

.orange:hover{
    background-color: #ff8f73;
}
.bigBtn{
    padding: 20px 45px;
    font-size: 100%;
    font-weight: 400;
}
.whiteBtn{
    color: #ff7a59;
}
