*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    position: relative;
    list-style-type: none;
    display: inline-block;


}

.clearfix:after{
    color: "";
    clear: both;
    display: table;
}

body{
    background-color: lightgrey;
    font-family: "AvenirNext","Helvetica Neue",Helvetica,Arial,sans-serif;
}





.container {
    width: 80%;
    margin: 0 auto;
}

#headerTop{
    position: fixed;
    top:0;
    width: 100%;
    background-color: #F5F8FA;
    height: 75px;

}

#headerTopLeft{
    background-color: rgba(30, 0, 0, 0.2);
    height: 75px;
    float: left;
    width: 50%;
}

#headerTopRight{
    background-color: silver;
    height: 75px;
    float: right;
    width: 50%;
}

#languagegContact{
    display: inline;
    height: 75px;
    line-height: 75px;
}

ul.mainItemMenu > li{
    margin: 0 5px;
}

ul .dropMenuItem{
    line-height: normal;

}
li.dropMenuItem ul{
    display: none;
    position: absolute;
    left: 15px;
    background-color: white;
    border: 1px solid black;

}


li.dropMenuItem:hover ul{
    display: block;


}

.fa-globe{
    margin: 2px 3px;
    font-size: 20px;
}

.fa-sort-down{
    margin: 0 3px;
}

#headerBottom{
    margin-top: 75px;
    height: 100px;
}

#headerBottomLeft{
    width: 25%;
    height: 100px;
    background-color: rgba(70, 0, 0, 0.2);
    float: left;
}

#headerBottomRight{
    width: 75%;
    height: 100px;
    background-color: rgba(0, 60, 0, 0.2);;
    float: right;
}

#jumbo {
    height: 700px;
    background-color: pink;
}
#jumboContent{
    background-color: white;
    width: 40%;
    height: 400px;
}
#jumboText{
 /* da fare */
}
#jumboButtonContainer{
     /* da fare */
}
